body{
    background-color: rgb(110, 106, 106);
    font-family: sans-serif;
    margin: 0;
    padding: 0;


}

.main{
    display: flex;
    margin-top: 50px;
}
.left{
    width: 50%;
    text-align: right;
    padding: 0 40px 0 0;
}
.left p{
    padding: 0px 0px 0px 281px;
    font-size: 17px;
    color: white
}
.left h1{
    color: yellow;
    margin: 0;
}
.right{
    padding: 0 0 0 40px;
    width: 50%;
}
#asd{
    width: 70%;
    margin: 20px;
    padding: 10px;
    background:  rgb(110, 106, 106); 
    color: white;
    border: 1px solid white;


}
::placeholder{
    color: white;
}
#submit{
    background-color: rgb(110, 106, 106); 
    border: none;
    border-bottom-style:solid;
    border-bottom-color:white;
    margin: 20px;
    padding: 10px;


}
.color{
    width: 70%;
    height: 100px;
    background-color: yellow;

    padding: 10px;
    margin-top: 10px 50px;
}